{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html lang="auto" dir="ltr">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'favicon.ico' %}">
  {% comment %} {% vite_asset 'favicon.ico' %} {% endcomment %}
  <!-- Material Symbols Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=K2D&family=Readex+Pro&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- TODO: Compile Tailwind instead for production -->
  <script src="https://cdn.tailwindcss.com"></script>
  <title>galerIA</title>
  {% vite_hmr_client %}
  {% vite_asset 'assets/js/main.js' %}
</head>

<body>
  <div id="app"></div>
  <!-- Imagen de prueba obtenida desde core/views.py -->
  {% comment %} {% if imagenprueba %}
  <img src="{{ imagenprueba }}" alt="imagen de prueba">
  {% endif %} {% endcomment %}
</body>

</html>