{% load django_vite %} {% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <!-- Material Symbols -->
    <link
      rel="preload"
      as="style"
      onload="this.rel = 'stylesheet'"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="preload"
      as="style"
      onload="this.rel = 'stylesheet'"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <!-- Material Icons -->
    <link
      rel="preload"
      as="style"
      onload="this.rel = 'stylesheet'"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=K2D"
      rel="stylesheet"
    />
    <!-- Cropper.js styles -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>galerIA</title>
    {% vite_hmr_client %} {% vite_asset 'src/assets/js/main.js' %}
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
